body{
    margin:0 auto;
}

main {
    width: 100%;
    height: 850px;
    background-image: url("https://images.unsplash.com/photo-1518094871755-e8152f93d1c3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1860&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
 .navigation{
     text-decoration: none;
     font-size: 2.5rem;
     /* border-right: 1px solid;
     border-color:white;  */
     color:white;
     display:inline-block;  
     margin-right: 1em;
     transition: 0.2s;
     /* transform: translateX(8em); */
 }
nav ul{
    list-style: none;
    display:flex;
    /* display:block; */

}
nav ul li{
    display: inline-block;
    margin-right: 2em;
    /* justify-content: */
}

nav{
    position:absolute;
   transform:translateX(52em);
   display:flex;
   /* background-color:rgb(0,0,0,0.5); */
   
}

.navigation:hover{
    color:rgb(176, 213, 255);
    /* border-bottom: 0.2rem solid; */
    border-color: rgb(176, 213, 255);
    padding-bottom:0.5rem;
    margin-bottom: 0.3rem;
    transform:translateY(-3px);
}
.main-text{
    /* background-color:blue; */
    width: 60%;
    height: 40%;
    transform:translate(20em,18em);
    display:block;
}
.main-text h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    transform: translateX(5em) ;
    color:white;
    display:flex;
}
.main-text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.9rem;
    color:white;
    transform: translateY(-2rem);
}
.main-text .job button{
    font-family: 'Montserrat', sans-serif;
    color:rgb(255, 255, 255,1);
    border: 2.4px solid;
    font-size:2rem; 
    background:none;
    display:inline-block;
    margin-right: 3rem;
    transform:translate(18rem,-2.5rem);
    transition: 0.2s;
    
}
.main-text .job button:hover{
    border-color:rgb(176, 213, 255);
    color:rgb(176, 213, 255);
    transform:translate(18rem,-3rem);
}